.root {
  -fx-background-image: url("background.png");
}

.label {
  -fx-font-family: "Arial";
  -fx-font-size: 10px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #008080;
  -fx-border-color: #0000FF;
  -fx-border-width: 1px;
  -fx-border-style: solid;
}
