.hbox {
    -fx-alignment: center; /* Center components in the VBox */
    -fx-spacing: 50px;     /* Space components this far apart */
    -fx-padding: 30px;     /* Put this much space inside the edge of the VBox */
}