.label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
  -fx-alignment: center;
  -fx-padding: 10px;
  -fx-border-insets: 5px;
  -fx-border-color: black;
  -fx-border-width: 2px;
}

