#root{
    -fx-background-image: url("background_paw.png");  /* Picture for background */
    -fx-background-color: transparent;                /* Color of background not covered by picture */
    -fx-background-repeat: repeat repeat;             /* Horizontal and vertical repetition */
    -fx-background-size: 32 32;                       /* Scale background picture to this size */
    -fx-background-position: center center;           /* If not repeated, put picture in center */
    
    -fx-alignment: center; /* Center components in the VBox */
    -fx-spacing: 50px;     /* Space components this far apart */
    -fx-padding: 30px;     /* Put this much space inside the edge of the VBox */
}

.button {
	-fx-padding: 10px;     /* Put this much space inside the edge of the buttons */
}
