.label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
  -fx-padding: 10px;
}

.button {
  -fx-font-size: 36px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
}

