#personEntry {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: skyblue;
}

#petEntry {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: lightcyan;
}

#buttonArea {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: darkkhaki;
}

#personDisplay {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: lemonchiffon;
}

#petDisplay {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: blanchedalmond;
}
