.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
  	-fx-alignment: center;
}

#controlArea {
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
}

.player {
	-fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: lemonchiffon;
    -fx-min-width: 50;
    -fx-min-height: 80;
}